/**{
  background-color:rgb(241, 241, 237);
}*/
#navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#buttonone{
height: 30px;
width: 60px;
color: rgba(228, 23, 57, 0.899);
}
#buttontwo{
  color: white;
  background-color: green; 
  height: 30px;
  width: 170px;
}
#bangladesh{
  color: rgb(17, 133, 17);
}
#banner{
  
  display: flex;
  justify-content: space-between;
  margin: 80px;
padding: 20px;
background-color: rgb(178, 208, 194);
}
#one{
  margin: 40px;
  padding: 20px;
}
.four{
  background-color: rgb(251, 251, 245);
  margin: 10px;
  border-radius: 10px;
  border:2px solid rgb(251, 251, 245);
  padding: 5px;
}
#pillars{
  display: flex;
  justify-content: space-between;
  margin-inline: 80px;
}
#textpillars{
margin-inline: 80px;
  
}