
#navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#buttonone{
height: 30px;
width: 60px;
color: rgba(228, 23, 57, 0.899);
}
#buttontwo{
  color: white;
  background-color: green; 
  height: 30px;
  width: 170px;
}
#bangladesh{
  color: rgb(17, 133, 17);
}
#banner{
  
  display: flex;
  justify-content: space-between;
  margin: 80px;
padding: 20px;
background-color: rgb(178, 208, 194);
border-radius:10px;
}
#one{
  margin: 40px;
  padding: 20px;
}
.four{
  background-color: rgb(251, 251, 245);
  margin: 10px;
  border-radius: 10px;
  border:2px solid rgb(251, 251, 245);
  padding: 5px;
}
#pillars{
  display: flex;
  justify-content: space-between;
  margin-inline: 80px;
}
#textpillars{
margin-inline: 90px;
}
#future{
  display: flex;
  justify-content: space-between;
  margin-inline: 70px;
}
#transformation{
  background-color: rgb(168, 137, 89);
margin: 20px;
padding: 10px;
border-radius: 10px;
}
#learnone{
  background-color: rgb(213, 181, 164);
  height: 25px;
  border-radius: 5px;
  
}
#green{
  background-color: burlywood;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;

}
#learntwo{
  background-color: deepskyblue;
  height: 25px;
  border-radius: 5px;
  color: darkgreen;
}
#modern{
  background-color: rgb(171, 102, 11);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
#learnthree{
  height: 25px;
  border-radius: 5px;
  background-color: rgb(162, 239, 214);
  color: blue;
}

.the{
  margin-inline: 90px;
}
#learnone:hover{
  background-color: rgb(54, 118, 139);
  color: rgb(203, 181, 181);
  font-weight: bolder;
  border: solid 3px rgb(233, 246, 241);
}
#learntwo:hover{
  background-color: chocolate;
  color: deepskyblue;
  font-weight: bolder;
  border: solid 3px rgb(233, 246, 241);
}
#learnthree:hover{
  background-color: rgb(219, 212, 207);
  color: rgb(30, 61, 71);
  font-weight: bolder;
  border: solid 3px rgb(10, 129, 84);}
  #buttontwo:hover{
    background-color: rgb(47, 63, 154);
    color: rgb(115, 252, 252);
    border: 2px solid black;
  
    } 
    #buttonone:hover{
      background-color: chocolate;
      color: deepskyblue;
      font-weight: bolder;
      border: solid 3px rgb(233, 246, 241);}
      #lorem{
        background-color: rgb(250, 241, 227);
        margin-inline: 85px;
        padding: 10px;
        border-radius: 10px;
        background-image: url(quote-bg.png);
        background-position: 10px 10px; 
        background-size: 50px 50px;
        background-repeat: no-repeat;
      
        
      }
      #chief{
        font-weight: lighter;
      }
      .recent{
        margin-inline: 80px;
      }
      #newsone{
        display: flex;
        justify-content: space-between;
        background-color: rgb(190, 244, 226);
        margin-inline: 80px;
        border-radius: 20px;
      }
      #sateliteone{
        margin: 20px;
        padding: 10px;
        border-radius: 30px;
      }
      #alone{
        margin: 20px;
      }
      #newstwo{
        display: flex;
        justify-content: space-between;
        background-color: rgb(190, 244, 226);
        margin: 20px 80px;
        border-radius:20px;
      }
      #sat{margin: 20px;
        padding: 10px;
        border-radius: 30px;

      }
      #two{
        margin: 20px;
      }
      .readmore{
        background-color: darkgreen;
        color: white;
        height: 30px;
        border-radius: 5px;
      }
      .readmore:hover{
        background-color: orange;
        color: cyan;
      }
      #donate{
        text-align: center;
        margin-inline: 80px;
      }
      #donatebutton{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 140px;
        padding: 50px;
         
      }
      #takaone{
        background-color: rgb(239, 239, 220);
        font-size: 150%;
        font-weight: bolder;
        width: 200px;
        height: 70px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid  rgb(239, 239, 220);
      }
      #takatwo{
        background-color: rgb(164, 164, 104);
        font-size: 150%;
        font-weight: bolder;
        width: 200px;
        height: 70px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid  rgb(164, 164, 104);

      }
#takathree{
  background-color: rgb(239, 239, 220);
  font-size: 150%;
  font-weight: bolder;
  width: 200px;
  height: 70px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid  rgb(239, 239, 220);
}
#takafour{
  background-color: rgb(239, 239, 220);
  font-size: 150%;
  font-weight: bolder;
  width: 200px;
  height: 70px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid  rgb(239, 239, 220);
}
#takaone:hover{
  background-color: rgb(255, 0, 21);
  color: white;
}
#takatwo:hover{
  background-color: rgb(101, 60, 162);
  color: white;
}
#takathree:hover{
  background-color: rgb(255, 0, 21);
  color: white;
}
#takafour:hover{
  background-color: rgb(255, 0, 21);
  color: white;
}
#placeholder{
  width: 100%;
  padding: 5px;
  border: 2px solid bisque;
  border-radius: 10px;
  text-align: center;
  background-color: bisque;
}
#place{margin-inline: 200px;
  padding: 20px;
  border: 2px solid bisque;
  border-radius: 10px;
background-color: bisque;}
#done{
  width: 100px;
  height: 50px;
  
  background-color: brown;
  color: aqua;
  border-radius: 10px;
  border: 2px solid brown;
}
#now{
  display: flex;
  justify-content: center;
  margin: 20px;
}
#done:hover{
  background-color: blueviolet;
  color: white;
}
#subscribe{
  background-color: rgb(248, 248, 235);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: 80px;
  border-radius: 10px;
  padding: 10px;
}
#info{margin: 0px;}
#email{
  width: 300px;
  height: 30px;
  background-color:  rgb(248, 248, 235);
  border: 2px solid   rgb(135, 135, 86);
  border-radius: 3px;
}
#info{
  display: flex;
}
#sub{
  background-color: brown;
  border: 2px solid  rgb(135, 135, 86);
  height: 35px;
  border-radius: 3px;
  color: white;

}
#goodbye{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sub:hover{
  background-color: forestgreen;
  color: rgb(191, 191, 245);
}
#sub:active{
  background-color: navy;
  color: aliceblue;
}